<div class="pensamento {{ pensamento.modelo ? pensamento.modelo : 'modelo1'}} ff-roboto-mono" [ngClass]="larguraPensamento()">
    <img src="/assets/imagens/{{ pensamento.modelo ? pensamento.modelo : 'modelo1' }}.png" alt="Aspas coloridas">
    <p class="conteudo">{{ pensamento.conteudo }}</p>
    <p class="outoria"><b>{{ pensamento.autoria }}</b></p>
    <div class="acoes">
        <button class="botao-favorito" (click)="alternarFavorito()">
            <img src="../../../../assets/imagens/icone-favorito-{{ iconeFavorito() }}.png" alt="Ícone favorito {{ iconeFavorito() }}">
        </button>
        <button class="botao-editar" (click)="editar()">
            <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
        </button>
        <button class="botao-excluir" (click)="excluir()">
            <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
        </button>
    </div>
</div>